1. Classes and Objects
2. Inheritance
3. Abstractions or Interface implementation
4. Collections: ArrayList or other collection classes (up to you)
5. Object Serialization: You have to store your data or settings into serialized file
6. Threads: Use Threads for multiprocessing
7. Networking: You have to implement threaded networking model
8. GUI interface: Use GUI based interface

